body {
    margin-top: 10px;
    padding: 0;
    display: flex;
    flex-direction: column;
  }

header nav{
    height: 100px;
    background-color: white;
}

nav .brand-logo img{
    width: 200px;
}

header nav ul{
    height: 20px;
}

header nav ul li{
    margin: 10px 10px;
}

header nav ul li :hover{
  color: brown;
}

header ul a{
    color: black;
}

footer.page-footer{
    height: 80px;
    background: black;
}
